<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <!-- header navigation -->
    <!-- flash notification -->
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <!-- page content -->
    <%= yield %>
    <!-- footer  -->
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
